html {
    background-color: #fdfdff;
    color: #222628;
    box-sizing: border-box;
    }

    *,
*:before,
*:after {
    box-sizing: inherit;
}

    .top-page {
        display: flex;
        flex-direction: row;
    }
    .actor-info {
        display: flex;
        flex-direction: column;

    }

    .biography {
        background-color: #a2adc2;
        border-radius: 1em;
        /* text-align: center; */

    }

    h3 {
        text-align: center;
    }

    .film {
        display: flex;
        flex-direction: row;
    }

    .film img{
        height: 20vw;
    }