/* Colors:

Darkest: #222628 (h1, h2, h3)
2: #555860
3: #a2adc2
4: #e9e8eb
background: #fdfdff

*/


html {
background-color: #fdfdff;
color: #fdfdff;
box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


h1,
h2,
h3 {
    color:#222628
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

/* news */
.pony {
    background-color: #a2adc2;
    padding: 2em;
    border-radius: 1em;
}

.direct {
    background-color: #a2adc2;
    padding: 2em;
    border-radius: 1em;
}

/* Menu List */

nav ul {
    list-style: none;
    display: flex;
    /* padding-left: 1em; */
    margin-right: 1em;
    margin-left: 1em;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 0.5em;
}

nav a {
    display: block;
    color: #222628;
    background-color: #a2adc2;
    text-decoration: none !important;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
}

nav a:hover,
nav a:focus {
    background-color: #555860;
}

nav li {
  flex: 1;

}

/* Hottest stuff or whatever */

p img {
width: 25vw;
}


.flex {
    display: flex;
}

.flex h3 {
    text-align: center;
}


